version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: postgres_products
    environment:
      POSTGRES_DB: products_db
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - "6969:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - backend

volumes:
  postgres_data:

networks:
  backend:
